@using JobSearchFullWebSite.Models
@model List<BlogItem>
@{
    ViewData["Title"] = "Index";
}

    <main>
        <div class="
          d-flex
          flex-column
          justify-content-center
          align-items-center
          backColorBlue
          text-center
          py-5
        ">
            <h2><b>Blog</b></h2>
            <div class="d-flex flex-row text-center">
                <a href="" class="grey">Home / </a>
                <span> &nbsp;Blog</span>
            </div>
        </div>
        <div class="container mt-5">
            <div class="row mb-5 g-4">
                @Html.Partial("BlogPartialView",Model)

            </div>
        </div>
    </main>
  