
@{
    ViewData["Title"] = "Index";
}

    <main>
        <div class="
          d-flex
          flex-column
          justify-content-center
          align-items-center
          backColorBlue
          text-center
          py-5
        ">
            <h2><b>Blog</b></h2>
            <div class="d-flex flex-row text-center">
                <a href="" class="grey">Home / </a>
                <span> &nbsp;Blog</span>
            </div>
        </div>
        <div class="container mt-5">
            <div class="row mb-5 g-4">
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="card p-3 BlogCard">
                        <div class="BlogCardImage border-radius overflow-hidden">
                            <img src="./../Layihe/layihem/apusthemes.com/wp-demo/superio/wp-content/uploads/elementor/thumbs/blog1-p6yci7zdqrm2vokxms9kf4fvq1jntspky5uvcvf7ic.jpg"
                                 alt=""
                                 style="width: 100%; height: 200px" />
                        </div>
                        <div class="container mt-3">
                            <div class="row">
                                <div class="col-lg-4 col-md-6 col-12 grey"
                                     style="font-size: 14px">
                                    May 14,2021
                                </div>
                                <div class="
                      col-lg-4 col-md-6 col-12
                      grey
                      d-flex
                      flex-row
                      align-items-center
                    "
                                     style="font-size: 14px">
                                    <div class="border-radius"
                                         style="height: 5px; width: 5px; background-color: grey"></div>
                                    &nbsp;
                                    <span>Education</span>
                                </div>
                                <div class="
                      col-lg-4 col-md-6 col-12
                      grey
                      d-flex
                      flex-row
                      align-items-center
                    "
                                     style="font-size: 14px">
                                    <div class="border-radius"
                                         style="height: 5px; width: 5px; background-color: grey"></div>
                                    &nbsp;
                                    <span>3 Comments</span>
                                </div>
                            </div>
                            <br />
                            <a href="" class="black">
                                <h5><b>5 Tips For Your Job Interviews</b></h5>
                            </a>
                            <p class="grey">
                                Quisque bibendum orci ac nibh facilisis, at malesuada orci
                                congue.
                            </p>
                            <br />
                            <a class="readMoreBottomLine" href="">Read More ></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="card p-3 BlogCard">
                        <div class="BlogCardImage border-radius overflow-hidden">
                            <img src="./../Layihe/layihem/apusthemes.com/wp-demo/superio/wp-content/uploads/elementor/thumbs/blog1-p6yci7zdqrm2vokxms9kf4fvq1jntspky5uvcvf7ic.jpg"
                                 alt=""
                                 style="width: 100%; height: 200px" />
                        </div>
                        <div class="container mt-3">
                            <div class="row">
                                <div class="col-lg-4 col-md-6 col-12 grey"
                                     style="font-size: 14px">
                                    May 14,2021
                                </div>
                                <div class="
                      col-lg-4 col-md-6 col-12
                      grey
                      d-flex
                      flex-row
                      align-items-center
                    "
                                     style="font-size: 14px">
                                    <div class="border-radius"
                                         style="height: 5px; width: 5px; background-color: grey"></div>
                                    &nbsp;
                                    <span>Education</span>
                                </div>
                                <div class="
                      col-lg-4 col-md-6 col-12
                      grey
                      d-flex
                      flex-row
                      align-items-center
                    "
                                     style="font-size: 14px">
                                    <div class="border-radius"
                                         style="height: 5px; width: 5px; background-color: grey"></div>
                                    &nbsp;
                                    <span>3 Comments</span>
                                </div>
                            </div>
                            <br />
                            <a href="" class="black">
                                <h5><b>5 Tips For Your Job Interviews</b></h5>
                            </a>
                            <p class="grey">
                                Quisque bibendum orci ac nibh facilisis, at malesuada orci
                                congue.
                            </p>
                            <br />
                            <a class="readMoreBottomLine" href="">Read More ></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="card p-3 BlogCard">
                        <div class="BlogCardImage border-radius overflow-hidden">
                            <img src="./../Layihe/layihem/apusthemes.com/wp-demo/superio/wp-content/uploads/elementor/thumbs/blog1-p6yci7zdqrm2vokxms9kf4fvq1jntspky5uvcvf7ic.jpg"
                                 alt=""
                                 style="width: 100%; height: 200px" />
                        </div>
                        <div class="container mt-3">
                            <div class="row">
                                <div class="col-lg-4 col-md-6 col-12 grey"
                                     style="font-size: 14px">
                                    May 14,2021
                                </div>
                                <div class="
                      col-lg-4 col-md-6 col-12
                      grey
                      d-flex
                      flex-row
                      align-items-center
                    "
                                     style="font-size: 14px">
                                    <div class="border-radius"
                                         style="height: 5px; width: 5px; background-color: grey"></div>
                                    &nbsp;
                                    <span>Education</span>
                                </div>
                                <div class="
                      col-lg-4 col-md-6 col-12
                      grey
                      d-flex
                      flex-row
                      align-items-center
                    "
                                     style="font-size: 14px">
                                    <div class="border-radius"
                                         style="height: 5px; width: 5px; background-color: grey"></div>
                                    &nbsp;
                                    <span>3 Comments</span>
                                </div>
                            </div>
                            <br />
                            <a href="" class="black">
                                <h5><b>5 Tips For Your Job Interviews</b></h5>
                            </a>
                            <p class="grey">
                                Quisque bibendum orci ac nibh facilisis, at malesuada orci
                                congue.
                            </p>
                            <br />
                            <a class="readMoreBottomLine" href="">Read More ></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="card p-3 BlogCard">
                        <div class="BlogCardImage border-radius overflow-hidden">
                            <img src="./../Layihe/layihem/apusthemes.com/wp-demo/superio/wp-content/uploads/elementor/thumbs/blog1-p6yci7zdqrm2vokxms9kf4fvq1jntspky5uvcvf7ic.jpg"
                                 alt=""
                                 style="width: 100%; height: 200px" />
                        </div>
                        <div class="container mt-3">
                            <div class="row">
                                <div class="col-lg-4 col-md-6 col-12 grey"
                                     style="font-size: 14px">
                                    May 14,2021
                                </div>
                                <div class="
                      col-lg-4 col-md-6 col-12
                      grey
                      d-flex
                      flex-row
                      align-items-center
                    "
                                     style="font-size: 14px">
                                    <div class="border-radius"
                                         style="height: 5px; width: 5px; background-color: grey"></div>
                                    &nbsp;
                                    <span>Education</span>
                                </div>
                                <div class="
                      col-lg-4 col-md-6 col-12
                      grey
                      d-flex
                      flex-row
                      align-items-center
                    "
                                     style="font-size: 14px">
                                    <div class="border-radius"
                                         style="height: 5px; width: 5px; background-color: grey"></div>
                                    &nbsp;
                                    <span>3 Comments</span>
                                </div>
                            </div>
                            <br />
                            <a href="" class="black">
                                <h5><b>5 Tips For Your Job Interviews</b></h5>
                            </a>
                            <p class="grey">
                                Quisque bibendum orci ac nibh facilisis, at malesuada orci
                                congue.
                            </p>
                            <br />
                            <a class="readMoreBottomLine" href="">Read More ></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="card p-3 BlogCard">
                        <div class="BlogCardImage border-radius overflow-hidden">
                            <img src="./../Layihe/layihem/apusthemes.com/wp-demo/superio/wp-content/uploads/elementor/thumbs/blog1-p6yci7zdqrm2vokxms9kf4fvq1jntspky5uvcvf7ic.jpg"
                                 alt=""
                                 style="width: 100%; height: 200px" />
                        </div>
                        <div class="container mt-3">
                            <div class="row">
                                <div class="col-lg-4 col-md-6 col-12 grey"
                                     style="font-size: 14px">
                                    May 14,2021
                                </div>
                                <div class="
                      col-lg-4 col-md-6 col-12
                      grey
                      d-flex
                      flex-row
                      align-items-center
                    "
                                     style="font-size: 14px">
                                    <div class="border-radius"
                                         style="height: 5px; width: 5px; background-color: grey"></div>
                                    &nbsp;
                                    <span>Education</span>
                                </div>
                                <div class="
                      col-lg-4 col-md-6 col-12
                      grey
                      d-flex
                      flex-row
                      align-items-center
                    "
                                     style="font-size: 14px">
                                    <div class="border-radius"
                                         style="height: 5px; width: 5px; background-color: grey"></div>
                                    &nbsp;
                                    <span>3 Comments</span>
                                </div>
                            </div>
                            <br />
                            <a href="" class="black">
                                <h5><b>5 Tips For Your Job Interviews</b></h5>
                            </a>
                            <p class="grey">
                                Quisque bibendum orci ac nibh facilisis, at malesuada orci
                                congue.
                            </p>
                            <br />
                            <a class="readMoreBottomLine" href="">Read More ></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="card p-3 BlogCard">
                        <div class="BlogCardImage border-radius overflow-hidden">
                            <img src="./../Layihe/layihem/apusthemes.com/wp-demo/superio/wp-content/uploads/elementor/thumbs/blog1-p6yci7zdqrm2vokxms9kf4fvq1jntspky5uvcvf7ic.jpg"
                                 alt=""
                                 style="width: 100%; height: 200px" />
                        </div>
                        <div class="container mt-3">
                            <div class="row">
                                <div class="col-lg-4 col-md-6 col-12 grey"
                                     style="font-size: 14px">
                                    May 14,2021
                                </div>
                                <div class="
                      col-lg-4 col-md-6 col-12
                      grey
                      d-flex
                      flex-row
                      align-items-center
                    "
                                     style="font-size: 14px">
                                    <div class="border-radius"
                                         style="height: 5px; width: 5px; background-color: grey"></div>
                                    &nbsp;
                                    <span>Education</span>
                                </div>
                                <div class="
                      col-lg-4 col-md-6 col-12
                      grey
                      d-flex
                      flex-row
                      align-items-center
                    "
                                     style="font-size: 14px">
                                    <div class="border-radius"
                                         style="height: 5px; width: 5px; background-color: grey"></div>
                                    &nbsp;
                                    <span>3 Comments</span>
                                </div>
                            </div>
                            <br />
                            <a href="" class="black">
                                <h5><b>5 Tips For Your Job Interviews</b></h5>
                            </a>
                            <p class="grey">
                                Quisque bibendum orci ac nibh facilisis, at malesuada orci
                                congue.
                            </p>
                            <br />
                            <a class="readMoreBottomLine" href="">Read More ></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
  