
@{
    ViewData["Title"] = "FAQ";
}

    <main>
        <div class="
          d-flex
          flex-column
          justify-content-center
          align-items-center
          backColorBlue
          text-center
          py-5
        ">
            <h2><b>FAQ</b></h2>
            <div class="d-flex flex-row text-center">
                <a href="" class="grey">Home / </a>
                <span> &nbsp;FAQ</span>
            </div>
        </div>
        <br />
        <br />
        <br />
        <div class="container mt-5 px-5">
            <h4><b>Payments</b></h4>
            <button class="accordion mt-3 border-radius">Section 1</button>
            <div class="panel mt-2">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                    eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
                    ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat.
                </p>
            </div>

            <button class="accordion mt-3 border-radius">Section 2</button>
            <div class="panel mt-2">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                    eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
                    ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat.
                </p>
            </div>

            <button class="accordion mt-3 border-radius">Section 3</button>
            <div class="panel mt-2">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                    eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
                    ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat.
                </p>
            </div>
            <button class="accordion mt-3 border-radius">Section 3</button>
            <div class="panel mt-2">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                    eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
                    ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat.
                </p>
            </div>
        </div>
        <div class="container my-5 px-5">
            <h4><b>Suggestions</b></h4>
            <button class="accordion mt-3 border-radius">Section 1</button>
            <div class="panel mt-2">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                    eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
                    ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat.
                </p>
            </div>

            <button class="accordion mt-3 border-radius">Section 2</button>
            <div class="panel mt-2">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                    eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
                    ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat.
                </p>
            </div>

            <button class="accordion mt-3 border-radius">Section 3</button>
            <div class="panel mt-2">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                    eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
                    ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat.
                </p>
            </div>
            <button class="accordion mt-3 border-radius">Section 3</button>
            <div class="panel mt-2">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                    eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
                    ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat.
                </p>
            </div>
        </div>
        <br />
        <br />
        <br />
    </main>
   