@using JobSearchFullWebSite.Models
@model List<FAQ>
@{
    ViewData["Title"] = "FAQ";
}

    <main>
        <div class="
          d-flex
          flex-column
          justify-content-center
          align-items-center
          backColorBlue
          text-center
          py-5
        ">
            <h2><b>FAQ</b></h2>
            <div class="d-flex flex-row text-center">
                <a href="" class="grey">Home / </a>
                <span> &nbsp;FAQ</span>
            </div>
        </div>
        <br />
        <br />
        <br />
        <div class="container mt-5 px-5">
            <h4><b>Payments</b></h4>
            @foreach (var item in Model)
            {
                <button class="accordion mt-3 border-radius">@item.Title</button>
                <div class="panel mt-2">
                    <p>
                       @item.Question
                    </p>
                </div>

            }
        </div>
        
        <br />
        <br />
        <br />
    </main>
   