
@{
    ViewData["Title"] = "Terms";
}

    <main>
        <div class="
          d-flex
          flex-column
          justify-content-center
          align-items-center
          backColorBlue
          text-center
          py-5
        ">
            <h2><b>Terms</b></h2>
            <div class="d-flex flex-row text-center">
                <a href="" class="grey">Home / </a>
                <span> &nbsp;Terms</span>
            </div>
        </div>
        <div class="mt-5 mx-5">
            <div class="container px-5">
                <div>
                    <h4><b>1.Terms</b></h4>
                </div>
                <p class="grey">
                    Pharetra nulla ullamcorper sit lectus. Fermentum mauris pellentesque
                    nec nibh sed et, vel diam, massa. Placerat quis vel fames interdum
                    urna lobortis sagittis sed pretium. Aliquam eget posuere sit enim
                    elementum nulla vulputate magna. Morbi sed arcu proin quis tortor
                    non risus.
                </p>
                <p class="grey">
                    Elementum lectus a porta commodo suspendisse arcu, aliquam lectus
                    faucibus. Nisl malesuada tortor, ligula aliquet felis vitae enim. Mi
                    augue aliquet mauris non elementum tincidunt eget facilisi.
                    Pellentesque massa ipsum tempus vel aliquam massa eu pulvinar eget.
                </p>
            </div>
            <div class="container px-5 mt-5">
                <div>
                    <h4><b>2.Limitations</b></h4>
                </div>
                <p class="grey">
                    Pharetra nulla ullamcorper sit lectus. Fermentum mauris pellentesque
                    nec nibh sed et, vel diam, massa. Placerat quis vel fames interdum
                    urna lobortis sagittis sed pretium. Aliquam eget posuere sit enim
                    elementum nulla vulputate magna. Morbi sed arcu proin quis tortor
                    non risus.
                </p>
                <p class="grey">
                    Elementum lectus a porta commodo suspendisse arcu, aliquam lectus
                    faucibus. Nisl malesuada tortor, ligula aliquet felis vitae enim. Mi
                    augue aliquet mauris non elementum tincidunt eget facilisi.
                    Pellentesque massa ipsum tempus vel aliquam massa eu pulvinar eget.
                </p>
            </div>
            <div class="container px-5 mt-5">
                <div>
                    <h4><b>3.Revisions and Errata</b></h4>
                </div>
                <p class="grey">
                    Pharetra nulla ullamcorper sit lectus. Fermentum mauris pellentesque
                    nec nibh sed et, vel diam, massa. Placerat quis vel fames interdum
                    urna lobortis sagittis sed pretium. Aliquam eget posuere sit enim
                    elementum nulla vulputate magna. Morbi sed arcu proin quis tortor
                    non risus.
                </p>
                <p class="grey">
                    Elementum lectus a porta commodo suspendisse arcu, aliquam lectus
                    faucibus. Nisl malesuada tortor, ligula aliquet felis vitae enim. Mi
                    augue aliquet mauris non elementum tincidunt eget facilisi.
                    Pellentesque massa ipsum tempus vel aliquam massa eu pulvinar eget.
                </p>
            </div>
            <div class="container px-5 mt-5">
                <div>
                    <h4><b>4.Site Terms of Use Modifications</b></h4>
                </div>
                <p class="grey">
                    Pharetra nulla ullamcorper sit lectus. Fermentum mauris pellentesque
                    nec nibh sed et, vel diam, massa. Placerat quis vel fames interdum
                    urna lobortis sagittis sed pretium. Aliquam eget posuere sit enim
                    elementum nulla vulputate magna. Morbi sed arcu proin quis tortor
                    non risus.
                </p>
                <p class="grey">
                    Elementum lectus a porta commodo suspendisse arcu, aliquam lectus
                    faucibus. Nisl malesuada tortor, ligula aliquet felis vitae enim. Mi
                    augue aliquet mauris non elementum tincidunt eget facilisi.
                    Pellentesque massa ipsum tempus vel aliquam massa eu pulvinar eget.
                </p>
            </div>
        </div>
    </main>
  