
@{
    ViewData["Title"] = "Index";
}
    <main>
        <div class="backColorBlue py-5">
            <div class="container">
                <form class="p-4" action="">
                    <div class="bg-white d-flex flex-row row g-4 p-4 border-radius"
                         style="max-width: 100% !important">
                        <div class="
                  d-flex
                  flex-row
                  col-xl-3 col-lg-6 col-12
                  align-items-center
                ">
                            <div class="JobTitleIcon">
                                <i class="fas fa-search" style="font-size: 20px"></i>
                            </div>
                            <div>
                                <input type="text"
                                       class="onclickBorderNone p-2 Width"
                                       placeholder="Candidate Title..." />
                            </div>
                        </div>
                        <div class="
                  d-flex
                  flex-row
                  col-xl-3 col-lg-6 col-12
                  align-items-center
                ">
                            <div class="JobTitleIcon">
                                <i class="fas fa-map-marker-alt" style="font-size: 20px"></i>
                            </div>
                            <select name="" id="" class="ms-2 border-0 grey Width">
                                <option value="" selected disabled>City or Postcode</option>
                                <option value="">London</option>
                                <option value="">Los Angeles</option>
                                <option value="">Miami</option>
                                <option value="">New York</option>
                                <option value="">Paris</option>
                            </select>
                        </div>
                        <div class="
                  d-flex
                  flex-row
                  col-xl-3 col-lg-6 col-12
                  align-items-center
                ">
                            <div class="JobTitleIcon">
                                <i class="fas fa-briefcase" style="font-size: 20px"></i>
                            </div>
                            <select name="" id="" class="ms-2 border-0 grey Width">
                                <option value="">All Categories</option>
                                <option value="">Automotive Jobs</option>
                                <option value="">Customer</option>
                                <option value="">Design</option>
                                <option value="">Development</option>
                            </select>
                        </div>
                        <div class="
                  d-flex
                  flex-row
                  col-lg-3 col-md-6 col-12
                  blue
                  align-items-center
                ">
                            <div class="ms-2">
                                <button type="submit" class="btn btn-primary">
                                    Find Candidates
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="
                bg-white
                border-radius
                flex-row
                row
                p-4
                me-2
                mt-2
                DropdownOnclickAdvanced
              ">
                        <div class="row">
                            <div class="col-lg-3 col-md-6 col-12 d-flex flex-column">
                                <b>Type</b>
                                <div class="mt-3 d-flex flex-row">
                                    <label class="switch d-flex">
                                        <input type="checkbox" />
                                        <span class="slider round"></span>
                                    </label>
                                    <div class="SwitchItem ms-2 grey">Freelance</div>
                                </div>
                                <div class="mt-3 d-flex flex-row">
                                    <label class="switch d-flex">
                                        <input type="checkbox" />
                                        <span class="slider round"></span>
                                    </label>
                                    <div class="SwitchItem ms-2 grey">Full Time</div>
                                </div>
                                <div class="mt-3 d-flex flex-row">
                                    <label class="switch d-flex">
                                        <input type="checkbox" />
                                        <span class="slider round"></span>
                                    </label>
                                    <div class="SwitchItem ms-2 grey">Internship</div>
                                </div>
                                <div class="mt-3 d-flex flex-row">
                                    <label class="switch d-flex">
                                        <input type="checkbox" />
                                        <span class="slider round"></span>
                                    </label>
                                    <div class="SwitchItem ms-2 grey">Part Time</div>
                                </div>
                                <div class="mt-3 d-flex flex-row">
                                    <label class="switch d-flex">
                                        <input type="checkbox" />
                                        <span class="slider round"></span>
                                    </label>
                                    <div class="SwitchItem ms-2 grey">Temporary</div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-12 d-flex flex-column">
                                <b>Experience</b>
                                <div class="mt-3 d-flex flex-row">
                                    <label class="switch d-flex">
                                        <input type="checkbox" />
                                        <span class="slider round"></span>
                                    </label>
                                    <div class="SwitchItem ms-2 grey">Fresh</div>
                                </div>
                                <div class="mt-3 d-flex flex-row">
                                    <label class="switch d-flex">
                                        <input type="checkbox" />
                                        <span class="slider round"></span>
                                    </label>
                                    <div class="SwitchItem ms-2 grey">1 Year</div>
                                </div>
                                <div class="mt-3 d-flex flex-row">
                                    <label class="switch d-flex">
                                        <input type="checkbox" />
                                        <span class="slider round"></span>
                                    </label>
                                    <div class="SwitchItem ms-2 grey">2 Year</div>
                                </div>
                                <div class="mt-3 d-flex flex-row">
                                    <label class="switch d-flex">
                                        <input type="checkbox" />
                                        <span class="slider round"></span>
                                    </label>
                                    <div class="SwitchItem ms-2 grey">3 Year</div>
                                </div>
                                <div class="mt-3 d-flex flex-row">
                                    <label class="switch d-flex">
                                        <input type="checkbox" />
                                        <span class="slider round"></span>
                                    </label>
                                    <div class="SwitchItem ms-2 grey">4 Year</div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-12 d-flex flex-column">
                                <b>Career Level</b>
                                <div class="mt-3 d-flex flex-row">
                                    <label class="switch d-flex">
                                        <input type="checkbox" />
                                        <span class="slider round"></span>
                                    </label>
                                    <div class="SwitchItem ms-2 grey">Manager</div>
                                </div>
                                <div class="mt-3 d-flex flex-row">
                                    <label class="switch d-flex">
                                        <input type="checkbox" />
                                        <span class="slider round"></span>
                                    </label>
                                    <div class="SwitchItem ms-2 grey">Officer</div>
                                </div>
                                <div class="mt-3 d-flex flex-row">
                                    <label class="switch d-flex">
                                        <input type="checkbox" />
                                        <span class="slider round"></span>
                                    </label>
                                    <div class="SwitchItem ms-2 grey">Student</div>
                                </div>
                                <div class="mt-3 d-flex flex-row">
                                    <label class="switch d-flex">
                                        <input type="checkbox" />
                                        <span class="slider round"></span>
                                    </label>
                                    <div class="SwitchItem ms-2 grey">Executive</div>
                                </div>
                                <div class="mt-3 d-flex flex-row">
                                    <label class="switch d-flex">
                                        <input type="checkbox" />
                                        <span class="slider round"></span>
                                    </label>
                                    <div class="SwitchItem ms-2 grey">Others</div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-12 d-flex flex-column">
                                <b>Qualification</b>
                                <div class="mt-3 d-flex flex-row">
                                    <label class="switch d-flex">
                                        <input type="checkbox" />
                                        <span class="slider round"></span>
                                    </label>
                                    <div class="SwitchItem ms-2 grey">Certificate</div>
                                </div>
                                <div class="mt-3 d-flex flex-row">
                                    <label class="switch d-flex">
                                        <input type="checkbox" />
                                        <span class="slider round"></span>
                                    </label>
                                    <div class="SwitchItem ms-2 grey">Associate Degree</div>
                                </div>
                                <div class="mt-3 d-flex flex-row">
                                    <label class="switch d-flex">
                                        <input type="checkbox" />
                                        <span class="slider round"></span>
                                    </label>
                                    <div class="SwitchItem ms-2 grey">Bachelor Degree</div>
                                </div>
                                <div class="mt-3 d-flex flex-row">
                                    <label class="switch d-flex">
                                        <input type="checkbox" />
                                        <span class="slider round"></span>
                                    </label>
                                    <div class="SwitchItem ms-2 grey">Master's Degree</div>
                                </div>
                                <div class="mt-3 d-flex flex-row">
                                    <label class="switch d-flex">
                                        <input type="checkbox" />
                                        <span class="slider round"></span>
                                    </label>
                                    <div class="SwitchItem ms-2 grey">Doctorate Degree</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="container mb-5">
            <div class="row my-5">
                <div class="col-md-6 col-12">Showing All 18 Results</div>
                <div class="col-md-6 col-12">
                    <div class="d-flex flex-row justify-content-end">
                        <div class="d-flex flex-column">
                            <div class="backColorBlue border-radius px-4 py-2 SortBy">
                                Sort By >
                            </div>
                            <div class="bg-white border-radius SortingBy p-3"
                                 style="border: 1px solid grey">
                                <div class="d-flex flex-column">
                                    <span>Newest</span>
                                    <span>Oldest</span>
                                    <span>Random</span>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex flex-column ms-4">
                            <div class="backColorBlue border-radius px-4 py-2 AllClick">
                                All >
                            </div>
                            <div class="bg-white border-radius All p-3"
                                 style="border: 1px solid grey">
                                <div class="d-flex flex-column">
                                    <span>9 Per page</span>
                                    <span>All</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row g-4">
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="card CandidateListCard py-3">
                        <div class="container">
                            <div class="FeaturedBookmark row">
                                <div class="border-radius px-2 col-sm-4 col-12 w-auto"
                                     style="background-color: #e1f2e5">
                                    <span class="green">Featured</span>
                                </div>
                                <div class="
                      col-sm-8 col-12
                      d-flex
                      justify-content-end
                      FeaturedBookmarkIcon
                    ">
                                    <i class="far fa-bookmark FeaturedBookmarkIconI"></i>
                                </div>
                            </div>
                            <div class="
                    CandidateListCardImageContent
                    d-flex
                    flex-column
                    align-items-center
                    justify-content-center
                  ">
                                <div class="CandidateListCardImage">
                                    <img src="./../Layihe/layihem/apusthemes.com/wp-demo/superio/wp-content/uploads/2021/05/y12.jpg"
                                         alt=""
                                         style="width: 70px; height: 70px; border-radius: 50%" />
                                </div>
                                <div class="d-flex flex-column mt-2">
                                    <p><b>Ali Tufan</b></p>
                                    <p class="blue">Developer</p>
                                </div>
                                <div class="row grey">
                                    <div class="col-sm-6 col-12 d-flex flex-row align-items-center">
                                        <i class="fas fa-map-marker-alt me-2 align-items-center"></i>
                                        <span class="grey">New York</span>
                                    </div>
                                    <div class="col-sm-6 col-12 d-flex flex-row align-items-center">
                                        <i class="far fa-money-bill-alt me-2"></i>
                                        <span class="">$2000/Year</span>
                                    </div>
                                </div>
                                <div class="CandiddateInfo mt-3">
                                    <div class="px-2 backColorBlue border-radius">
                                        <span class="grey fontSize14">Adminstrative</span>
                                    </div>
                                    <div class="px-2 backColorBlue border-radius">
                                        <span class="grey fontSize14">App</span>
                                    </div>
                                    <div class="px-2 backColorBlue border-radius">
                                        <span class="grey fontSize14">Jobs</span>
                                    </div>
                                </div>
                            </div>
                            <div class="w-100 mt-3 border-radius">
                                <button class="btn backColorBlue w-100 py-3 CandidateViewProfile">
                                    <span class="">View Profile</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="card CandidateListCard py-3">
                        <div class="container">
                            <div class="FeaturedBookmark row">
                                <div class="border-radius px-2 col-sm-4 col-12 w-auto"
                                     style="background-color: #e1f2e5">
                                    <span class="green">Featured</span>
                                </div>
                                <div class="
                      col-sm-8 col-12
                      d-flex
                      justify-content-end
                      FeaturedBookmarkIcon
                    ">
                                    <i class="far fa-bookmark FeaturedBookmarkIconI"></i>
                                </div>
                            </div>
                            <div class="
                    CandidateListCardImageContent
                    d-flex
                    flex-column
                    align-items-center
                    justify-content-center
                  ">
                                <div class="CandidateListCardImage">
                                    <img src="./../Layihe/layihem/apusthemes.com/wp-demo/superio/wp-content/uploads/2021/05/y12.jpg"
                                         alt=""
                                         style="width: 70px; height: 70px; border-radius: 50%" />
                                </div>
                                <div class="d-flex flex-column mt-2">
                                    <p><b>Ali Tufan</b></p>
                                    <p class="blue">Developer</p>
                                </div>
                                <div class="row grey">
                                    <div class="col-sm-6 col-12 d-flex flex-row align-items-center">
                                        <i class="fas fa-map-marker-alt me-2 align-items-center"></i>
                                        <span class="grey">New York</span>
                                    </div>
                                    <div class="col-sm-6 col-12 d-flex flex-row align-items-center">
                                        <i class="far fa-money-bill-alt me-2"></i>
                                        <span class="">$2000/Year</span>
                                    </div>
                                </div>
                                <div class="CandiddateInfo mt-3">
                                    <div class="px-2 backColorBlue border-radius">
                                        <span class="grey fontSize14">Adminstrative</span>
                                    </div>
                                    <div class="px-2 backColorBlue border-radius">
                                        <span class="grey fontSize14">App</span>
                                    </div>
                                    <div class="px-2 backColorBlue border-radius">
                                        <span class="grey fontSize14">Jobs</span>
                                    </div>
                                </div>
                            </div>
                            <div class="w-100 mt-3 border-radius">
                                <button class="btn backColorBlue w-100 py-3 CandidateViewProfile">
                                    <span class="">View Profile</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="card CandidateListCard py-3">
                        <div class="container">
                            <div class="FeaturedBookmark row">
                                <div class="border-radius px-2 col-sm-4 col-12 w-auto"
                                     style="background-color: #e1f2e5">
                                    <span class="green">Featured</span>
                                </div>
                                <div class="
                      col-sm-8 col-12
                      d-flex
                      justify-content-end
                      FeaturedBookmarkIcon
                    ">
                                    <i class="far fa-bookmark FeaturedBookmarkIconI"></i>
                                </div>
                            </div>
                            <div class="
                    CandidateListCardImageContent
                    d-flex
                    flex-column
                    align-items-center
                    justify-content-center
                  ">
                                <div class="CandidateListCardImage">
                                    <img src="./../Layihe/layihem/apusthemes.com/wp-demo/superio/wp-content/uploads/2021/05/y12.jpg"
                                         alt=""
                                         style="width: 70px; height: 70px; border-radius: 50%" />
                                </div>
                                <div class="d-flex flex-column mt-2">
                                    <p><b>Ali Tufan</b></p>
                                    <p class="blue">Developer</p>
                                </div>
                                <div class="row grey">
                                    <div class="col-sm-6 col-12 d-flex flex-row align-items-center">
                                        <i class="fas fa-map-marker-alt me-2 align-items-center"></i>
                                        <span class="grey">New York</span>
                                    </div>
                                    <div class="col-sm-6 col-12 d-flex flex-row align-items-center">
                                        <i class="far fa-money-bill-alt me-2"></i>
                                        <span class="">$2000/Year</span>
                                    </div>
                                </div>
                                <div class="CandiddateInfo mt-3">
                                    <div class="px-2 backColorBlue border-radius">
                                        <span class="grey fontSize14">Adminstrative</span>
                                    </div>
                                    <div class="px-2 backColorBlue border-radius">
                                        <span class="grey fontSize14">App</span>
                                    </div>
                                    <div class="px-2 backColorBlue border-radius">
                                        <span class="grey fontSize14">Jobs</span>
                                    </div>
                                </div>
                            </div>
                            <div class="w-100 mt-3 border-radius">
                                <button class="btn backColorBlue w-100 py-3 CandidateViewProfile">
                                    <span class="">View Profile</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="card CandidateListCard py-3">
                        <div class="container">
                            <div class="FeaturedBookmark row">
                                <div class="border-radius px-2 col-sm-4 col-12 w-auto"
                                     style="background-color: #e1f2e5">
                                    <span class="green">Featured</span>
                                </div>
                                <div class="
                      col-sm-8 col-12
                      d-flex
                      justify-content-end
                      FeaturedBookmarkIcon
                    ">
                                    <i class="far fa-bookmark FeaturedBookmarkIconI"></i>
                                </div>
                            </div>
                            <div class="
                    CandidateListCardImageContent
                    d-flex
                    flex-column
                    align-items-center
                    justify-content-center
                  ">
                                <div class="CandidateListCardImage">
                                    <img src="./../Layihe/layihem/apusthemes.com/wp-demo/superio/wp-content/uploads/2021/05/y12.jpg"
                                         alt=""
                                         style="width: 70px; height: 70px; border-radius: 50%" />
                                </div>
                                <div class="d-flex flex-column mt-2">
                                    <p><b>Ali Tufan</b></p>
                                    <p class="blue">Developer</p>
                                </div>
                                <div class="row grey">
                                    <div class="col-sm-6 col-12 d-flex flex-row align-items-center">
                                        <i class="fas fa-map-marker-alt me-2 align-items-center"></i>
                                        <span class="grey">New York</span>
                                    </div>
                                    <div class="col-sm-6 col-12 d-flex flex-row align-items-center">
                                        <i class="far fa-money-bill-alt me-2"></i>
                                        <span class="">$2000/Year</span>
                                    </div>
                                </div>
                                <div class="CandiddateInfo mt-3">
                                    <div class="px-2 backColorBlue border-radius">
                                        <span class="grey fontSize14">Adminstrative</span>
                                    </div>
                                    <div class="px-2 backColorBlue border-radius">
                                        <span class="grey fontSize14">App</span>
                                    </div>
                                    <div class="px-2 backColorBlue border-radius">
                                        <span class="grey fontSize14">Jobs</span>
                                    </div>
                                </div>
                            </div>
                            <div class="w-100 mt-3 border-radius">
                                <button class="btn backColorBlue w-100 py-3 CandidateViewProfile">
                                    <span class="">View Profile</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="card CandidateListCard py-3">
                        <div class="container">
                            <div class="FeaturedBookmark row">
                                <div class="border-radius px-2 col-sm-4 col-12 w-auto"
                                     style="background-color: #e1f2e5">
                                    <span class="green">Featured</span>
                                </div>
                                <div class="
                      col-sm-8 col-12
                      d-flex
                      justify-content-end
                      FeaturedBookmarkIcon
                    ">
                                    <i class="far fa-bookmark FeaturedBookmarkIconI"></i>
                                </div>
                            </div>
                            <div class="
                    CandidateListCardImageContent
                    d-flex
                    flex-column
                    align-items-center
                    justify-content-center
                  ">
                                <div class="CandidateListCardImage">
                                    <img src="./../Layihe/layihem/apusthemes.com/wp-demo/superio/wp-content/uploads/2021/05/y12.jpg"
                                         alt=""
                                         style="width: 70px; height: 70px; border-radius: 50%" />
                                </div>
                                <div class="d-flex flex-column mt-2">
                                    <p><b>Ali Tufan</b></p>
                                    <p class="blue">Developer</p>
                                </div>
                                <div class="row grey">
                                    <div class="col-sm-6 col-12 d-flex flex-row align-items-center">
                                        <i class="fas fa-map-marker-alt me-2 align-items-center"></i>
                                        <span class="grey">New York</span>
                                    </div>
                                    <div class="col-sm-6 col-12 d-flex flex-row align-items-center">
                                        <i class="far fa-money-bill-alt me-2"></i>
                                        <span class="">$2000/Year</span>
                                    </div>
                                </div>
                                <div class="CandiddateInfo mt-3">
                                    <div class="px-2 backColorBlue border-radius">
                                        <span class="grey fontSize14">Adminstrative</span>
                                    </div>
                                    <div class="px-2 backColorBlue border-radius">
                                        <span class="grey fontSize14">App</span>
                                    </div>
                                    <div class="px-2 backColorBlue border-radius">
                                        <span class="grey fontSize14">Jobs</span>
                                    </div>
                                </div>
                            </div>
                            <div class="w-100 mt-3 border-radius">
                                <button class="btn backColorBlue w-100 py-3 CandidateViewProfile">
                                    <span class="">View Profile</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="card CandidateListCard py-3">
                        <div class="container">
                            <div class="FeaturedBookmark row">
                                <div class="border-radius px-2 col-sm-4 col-12 w-auto"
                                     style="background-color: #e1f2e5">
                                    <span class="green">Featured</span>
                                </div>
                                <div class="
                      col-sm-8 col-12
                      d-flex
                      justify-content-end
                      FeaturedBookmarkIcon
                    ">
                                    <i class="far fa-bookmark FeaturedBookmarkIconI"></i>
                                </div>
                            </div>
                            <div class="
                    CandidateListCardImageContent
                    d-flex
                    flex-column
                    align-items-center
                    justify-content-center
                  ">
                                <div class="CandidateListCardImage">
                                    <img src="./../Layihe/layihem/apusthemes.com/wp-demo/superio/wp-content/uploads/2021/05/y12.jpg"
                                         alt=""
                                         style="width: 70px; height: 70px; border-radius: 50%" />
                                </div>
                                <div class="d-flex flex-column mt-2">
                                    <p><b>Ali Tufan</b></p>
                                    <p class="blue">Developer</p>
                                </div>
                                <div class="row grey">
                                    <div class="col-sm-6 col-12 d-flex flex-row align-items-center">
                                        <i class="fas fa-map-marker-alt me-2 align-items-center"></i>
                                        <span class="grey">New York</span>
                                    </div>
                                    <div class="col-sm-6 col-12 d-flex flex-row align-items-center">
                                        <i class="far fa-money-bill-alt me-2"></i>
                                        <span class="">$2000/Year</span>
                                    </div>
                                </div>
                                <div class="CandiddateInfo mt-3">
                                    <div class="px-2 backColorBlue border-radius">
                                        <span class="grey fontSize14">Adminstrative</span>
                                    </div>
                                    <div class="px-2 backColorBlue border-radius">
                                        <span class="grey fontSize14">App</span>
                                    </div>
                                    <div class="px-2 backColorBlue border-radius">
                                        <span class="grey fontSize14">Jobs</span>
                                    </div>
                                </div>
                            </div>
                            <div class="w-100 mt-3 border-radius">
                                <button class="btn backColorBlue w-100 py-3 CandidateViewProfile">
                                    <span class="">View Profile</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="card CandidateListCard py-3">
                        <div class="container">
                            <div class="FeaturedBookmark row">
                                <div class="border-radius px-2 col-sm-4 col-12 w-auto"
                                     style="background-color: #e1f2e5">
                                    <span class="green">Featured</span>
                                </div>
                                <div class="
                      col-sm-8 col-12
                      d-flex
                      justify-content-end
                      FeaturedBookmarkIcon
                    ">
                                    <i class="far fa-bookmark FeaturedBookmarkIconI"></i>
                                </div>
                            </div>
                            <div class="
                    CandidateListCardImageContent
                    d-flex
                    flex-column
                    align-items-center
                    justify-content-center
                  ">
                                <div class="CandidateListCardImage">
                                    <img src="./../Layihe/layihem/apusthemes.com/wp-demo/superio/wp-content/uploads/2021/05/y12.jpg"
                                         alt=""
                                         style="width: 70px; height: 70px; border-radius: 50%" />
                                </div>
                                <div class="d-flex flex-column mt-2">
                                    <p><b>Ali Tufan</b></p>
                                    <p class="blue">Developer</p>
                                </div>
                                <div class="row grey">
                                    <div class="col-sm-6 col-12 d-flex flex-row align-items-center">
                                        <i class="fas fa-map-marker-alt me-2 align-items-center"></i>
                                        <span class="grey">New York</span>
                                    </div>
                                    <div class="col-sm-6 col-12 d-flex flex-row align-items-center">
                                        <i class="far fa-money-bill-alt me-2"></i>
                                        <span class="">$2000/Year</span>
                                    </div>
                                </div>
                                <div class="CandiddateInfo mt-3">
                                    <div class="px-2 backColorBlue border-radius">
                                        <span class="grey fontSize14">Adminstrative</span>
                                    </div>
                                    <div class="px-2 backColorBlue border-radius">
                                        <span class="grey fontSize14">App</span>
                                    </div>
                                    <div class="px-2 backColorBlue border-radius">
                                        <span class="grey fontSize14">Jobs</span>
                                    </div>
                                </div>
                            </div>
                            <div class="w-100 mt-3 border-radius">
                                <button class="btn backColorBlue w-100 py-3 CandidateViewProfile">
                                    <span class="">View Profile</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="card CandidateListCard py-3">
                        <div class="container">
                            <div class="FeaturedBookmark row">
                                <div class="border-radius px-2 col-sm-4 col-12 w-auto"
                                     style="background-color: #e1f2e5">
                                    <span class="green">Featured</span>
                                </div>
                                <div class="
                      col-sm-8 col-12
                      d-flex
                      justify-content-end
                      FeaturedBookmarkIcon
                    ">
                                    <i class="far fa-bookmark FeaturedBookmarkIconI"></i>
                                </div>
                            </div>
                            <div class="
                    CandidateListCardImageContent
                    d-flex
                    flex-column
                    align-items-center
                    justify-content-center
                  ">
                                <div class="CandidateListCardImage">
                                    <img src="./../Layihe/layihem/apusthemes.com/wp-demo/superio/wp-content/uploads/2021/05/y12.jpg"
                                         alt=""
                                         style="width: 70px; height: 70px; border-radius: 50%" />
                                </div>
                                <div class="d-flex flex-column mt-2">
                                    <p><b>Ali Tufan</b></p>
                                    <p class="blue">Developer</p>
                                </div>
                                <div class="row grey">
                                    <div class="col-sm-6 col-12 d-flex flex-row align-items-center">
                                        <i class="fas fa-map-marker-alt me-2 align-items-center"></i>
                                        <span class="grey">New York</span>
                                    </div>
                                    <div class="col-sm-6 col-12 d-flex flex-row align-items-center">
                                        <i class="far fa-money-bill-alt me-2"></i>
                                        <span class="">$2000/Year</span>
                                    </div>
                                </div>
                                <div class="CandiddateInfo mt-3">
                                    <div class="px-2 backColorBlue border-radius">
                                        <span class="grey fontSize14">Adminstrative</span>
                                    </div>
                                    <div class="px-2 backColorBlue border-radius">
                                        <span class="grey fontSize14">App</span>
                                    </div>
                                    <div class="px-2 backColorBlue border-radius">
                                        <span class="grey fontSize14">Jobs</span>
                                    </div>
                                </div>
                            </div>
                            <div class="w-100 mt-3 border-radius">
                                <button class="btn backColorBlue w-100 py-3 CandidateViewProfile">
                                    <span class="">View Profile</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="card CandidateListCard py-3">
                        <div class="container">
                            <div class="FeaturedBookmark row">
                                <div class="border-radius px-2 col-sm-4 col-12 w-auto"
                                     style="background-color: #e1f2e5">
                                    <span class="green">Featured</span>
                                </div>
                                <div class="
                      col-sm-8 col-12
                      d-flex
                      justify-content-end
                      FeaturedBookmarkIcon
                    ">
                                    <i class="far fa-bookmark FeaturedBookmarkIconI"></i>
                                </div>
                            </div>
                            <div class="
                    CandidateListCardImageContent
                    d-flex
                    flex-column
                    align-items-center
                    justify-content-center
                  ">
                                <div class="CandidateListCardImage">
                                    <img src="./../Layihe/layihem/apusthemes.com/wp-demo/superio/wp-content/uploads/2021/05/y12.jpg"
                                         alt=""
                                         style="width: 70px; height: 70px; border-radius: 50%" />
                                </div>
                                <div class="d-flex flex-column mt-2">
                                    <p><b>Ali Tufan</b></p>
                                    <p class="blue">Developer</p>
                                </div>
                                <div class="row grey">
                                    <div class="col-sm-6 col-12 d-flex flex-row align-items-center">
                                        <i class="fas fa-map-marker-alt me-2 align-items-center"></i>
                                        <span class="grey">New York</span>
                                    </div>
                                    <div class="col-sm-6 col-12 d-flex flex-row align-items-center">
                                        <i class="far fa-money-bill-alt me-2"></i>
                                        <span class="">$2000/Year</span>
                                    </div>
                                </div>
                                <div class="CandiddateInfo mt-3">
                                    <div class="px-2 backColorBlue border-radius">
                                        <span class="grey fontSize14">Adminstrative</span>
                                    </div>
                                    <div class="px-2 backColorBlue border-radius">
                                        <span class="grey fontSize14">App</span>
                                    </div>
                                    <div class="px-2 backColorBlue border-radius">
                                        <span class="grey fontSize14">Jobs</span>
                                    </div>
                                </div>
                            </div>
                            <div class="w-100 mt-3 border-radius">
                                <button class="btn backColorBlue w-100 py-3 CandidateViewProfile">
                                    <span class="">View Profile</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

   